@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

.body-format{
  font-family: 'Roboto', sans-serif;
  margin: 0px;
}

.main-header {
  text-align: center;
}

.main-header h2 {
  margin: 5px;
}

.main-header nav ul {
  margin: 5px;
  padding: 0px;
}

.main-header nav li {
  display: inline;
  margin: 0 5px;
}

.table-format{
  /* border: 1px solid black; */
  width: 100%;
  border-collapse: collapse;
}

.table-format th{
  text-align: center;
  padding: 10px;
}

.table-format td{
  /* border: 1px solid black; */
  text-align: left;
  padding: 10px;
}

.table-format td:nth-child(1){
  text-align: center;
}

.table-format td:nth-child(2){
  text-align: justify;
}

.table-format td:nth-child(4){
  text-align: center;
}

.code-format{
  line-height: 1;
  white-space: pre-line;
}

.link-format {
  color: blue;
}

.footer-format {
  text-align: center;
  padding: 10px;
}

/* About Me and Misc */

.image-format figcaption{
  font-style: italic;
}

.image-format {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.icon-format {
  width: 250px;
  height: 250px;
}